
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="todolist not-done">
        <h1>Todo List</h1>
        <form class="form-inline">
          <input type="text" class="form-control add-todo"  name="item" [(ngModel)]="itemToAdd" placeholder="Add Item...">
          <button id="checkAll" class="btn btn-success ml-2" (click)="addToList()">Add</button>

        </form>
        <hr>
        <ul id="sortable" class="list-unstyled">
          <li class="ui-state-default"  *ngFor="let item of todoList; let i = index">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" (click)="doItem(i)"/> {{item}} </label>
            </div>
          </li>
        </ul>
        <h2>Items Done</h2>
        <ul id="sortable" class="list-unstyled">
          <li class="ui-state-default" *ngFor="let item of doneList">
            <div class="checkbox">
              <label>
                <input type="checkbox" checked /><span style="text-decoration:line-through;">
                  {{item}}
                </span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
